@using PaginaEEST1.Components.Pages.Modals.Computers
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@using PaginaEEST1.Services
@using PaginaEEST1.Shared
@inject IComputerService ComputerService
@page "/SGE/EMATP/GestionOrdenadores"

@using PaginaEEST1.Components.Layout
@layout SGELayout

@attribute [Authorize (Roles = "EMATP")]

<Flex Class="flex-container" Justify="center" Align="center" Style="height: 100%; width:100%;">
    <div class="template">
        <Table TItem="ComputerViewModel"
               DataSource="@devices"
               PageIndex="1"
               PageSize="6"
               Responsive>

            <TitleTemplate>
                <Space>
                    <SpaceItem>
                        <Button Type="primary"
                                OnClick="() => {visAdd = true;}">
                            <Icon Type="plus" /> Agregar
                        </Button>
                    </SpaceItem>
                </Space>
            </TitleTemplate>

            <ColumnDefinitions>
                @* Datos *@
                <PropertyColumn Title="Nombre del Ordenador"
                                Property="@(v => v.DeviceName)"
                                Sortable />
                <PropertyColumn Title="Tipo"
                                Property="@(v => v.Type.GetDisplayName())"
                                Sortable />
                <PropertyColumn Title="Sistema Operativo"
                                Property="@(v => v.OperatingSystem)"
                                Sortable />
                <PropertyColumn Title="Estado"
                                Property="@(v => v.Status.GetDisplayName())"
                                Sortable />
                @* Acciones *@
                <ActionColumn Title="Acciones" Align="ColumnAlign.Center">
                    <Space>
                        <SpaceItem>
                            <Button Type="primary" OnClick="() => openDetails(context.ID)">
                                <Icon Type="desktop" /> Detalles
                            </Button>
                            <Button OnClick="() => openEdit(context.ID)">
                                <Icon Type="edit" /> Editar
                            </Button>
                            <Popconfirm Title="¿Remover este Ordenador?"
                                    OnConfirm="() => delComputer(context.ID)"
                                    OkText="Si"
                                    CancelText="No"
                                >
                                <Button Danger>
                                    <Icon Type="delete" /> Remover
                                </Button>
                            </Popconfirm>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
                @* Logo del Ordenador. Va a haber uno diferente si es una Computadora o Netbook *@
                <Column TData="ComputerViewModel" Width="100">
                    <Avatar Src="@context.Logo" Size="68" />
                </Column>
            </ColumnDefinitions>
        </Table>
    </div>
</Flex>


@if (visAdd == true)
{
    <Modal Visible="visAdd" Footer="null" OnCancel="() => closeModals(false)">
        <AddComputer OnClose="closeModals" />
    </Modal>
}
@if (visEdit == true)
{
    <Modal Visible="visEdit" Footer="null" OnCancel="() => closeModals(false)">
        <EditComputer OnClose="closeModals" ID="detID" />
    </Modal>
}
@if (visDetails == true)
{
    <Modal Visible="visDetails" Footer="null" OnCancel="() => {visDetails = false;}">
        <DetailsComputer ID="detID" />
    </Modal>
}

@code {
    // Variables
    List<ComputerViewModel> devices = new();

    // Handles Modals
    private int detID { get; set; }
    private bool visAdd = false;
    private bool visDetails = false;
    private bool visEdit = false;

    private void openDetails(int ID)
    {
        detID = ID;
        visDetails = true;
    }
    private void openEdit(int ID)
    {
        detID = ID;
        visEdit = true;
    }
    private async Task closeModals(bool success)
    {
        visAdd = false;
        visEdit = false;
        if (success == true)
        {
            await OnInitializedAsync();
        }
        StateHasChanged();
    }

    // Funciones
    
    private async Task delComputer(int ID)
    {
        await ComputerService.DelComputer(ID);
        await OnInitializedAsync();
    }

    // Init
    protected override async Task OnInitializedAsync()
    {
        devices = await ComputerService.GetListComputerDevices();
        StateHasChanged();
    }
}