@page "/SGE/EMATP/GestionSolicitudes"
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@using PaginaEEST1.Services
@using PaginaEEST1.Shared
@inject IRequestService RequestService
@inject IComputerService ComputerService
@inject MessageService message

@attribute [Authorize(Roles = "EMATP")]
@*Definimos que esta pagina solo puede ser vista por EMATP*@

@* Tablas *@
<Row Style="height: 100%; width:100%; margin: 1vw; border-radius: 1vw;">
    @foreach (var status in Enum.GetValues(typeof(RequestStatus)))
    {
        <AntDesign.Col Style="width: 33%; height: 100%;">
            <Card Title="@GetStatusTitle((RequestStatus)status)">
                <div @ondrop="@((e) => OnDrop(e, (RequestStatus)status))"
                     @ondragover:preventDefault
                     @ondragover="@((e) => {})"
                     class="drop-zone">
                    @foreach (var request in GetRequestsByStatus((RequestStatus)status))
                    {
                        <div @ondragstart="@((e) => OnDragStart(e, request))"
                             @ondragend="@(() => RequestDrag = null)"
                             draggable="true"
                             class="draggable-card"><Card Hoverable Style="font-size: 14px; position: relative;">
                                <div @onclick="@(() => ShowDetails(request))">
                                    <Flex>
                                        <p>@request.Type.GetDisplayName()</p>
                                        <p style="color: grey; text-align: right; right: 0; margin-left: auto;">@request.RequestDate.ToShortDateString()</p>
                                    </Flex>
                                    <hr />
                                    <h3><b>@request.ShortDescription</b></h3>
                                </div>
                                <Dropdown Trigger="new Trigger[] { Trigger.Click }" Placement="@Placement.BottomRight">
                                    <Overlay>
                                        <Menu>
                                            <Popconfirm Title="¿Eliminar esta Solicitud?"
                                                    OnConfirm="() => DelRequest(request.ID)"
                                                    OkText="Si"
                                                    CancelText="No"
                                                >
                                                <MenuItem>
                                                    <Icon Type="delete" Theme="outline" />
                                                    Eliminar
                                                </MenuItem>
                                            </Popconfirm>
                                        </Menu>
                                    </Overlay>
                                    <ChildContent>
                                        <a class="ant-dropdown-link" @onclick:preventDefault style="position: absolute; top: 5px; right: 5px;">
                                            <Icon Type="ellipsis" Theme="outline" />
                                        </a>
                                    </ChildContent>
                                </Dropdown>
                            </Card>
                        </div>
                    }
                </div>
            </Card>
        </AntDesign.Col>
    }
</Row>

@* Modals *@
<Modal Title="@(RequestSelect?.ShortDescription)" Visible="@_DetailVisible"
       OnCancel="@(() => _DetailVisible = false)" Footer="null">
    <p><b>Tipo:</b> @RequestSelect?.Type.GetDisplayName()</p>
    <p><b>Estado:</b> @RequestSelect?.Status.GetDisplayName()</p>
    <p><b>Fecha reportado:</b> @RequestSelect?.RequestDate.ToShortDateString()</p>
    <br />
    <hr>
    <br />
    @if (RequestSelect?.Type == TypeRequest.ReporteFallo)
    {
        <h3><u>Datos del dispositivo</u></h3>
        <p><b>Nombre/Codigo del dispositivo:</b> @ComputerName</p>
        <p><b>Descripción del Fallo:</b> @RequestSelect.FailureDescription</p>
        <p><b>Nivel de Prioridad:</b> @RequestSelect.Preority</p>
    }
    else if (RequestSelect?.Type == TypeRequest.Instalacion)
    {
        <h3><u>Datos del dispositivo</u></h3>
        <p><b>Nombre/Codigo del dispositivo:</b> @ComputerName</p>
        <p><b>Nombre del Programa:</b> @RequestSelect.NameProgram</p>
        <p><b>Versión del Programa:</b> @RequestSelect.VersionProgram</p>
    }
    else if(RequestSelect?.Type == TypeRequest.SolicitudCuenta)
    {
        <h3><u>Datos del estudiante</u></h3>
        <p><b>Nombre del estudiante:</b> @RequestSelect.StudentName</p>
        <p><b>Apellido del estudiante:</b> @RequestSelect.StudentSurname</p>
        <p><b>Correo electronico:</b> @RequestSelect.StudentEmail</p>
        <p><b>Número de celular:</b> @RequestSelect.StudentCellPhoneNumber</p>
        <p><b>Año de curso:</b> @RequestSelect.SchoolYear</p>
        <p><b>División de curso:</b> @RequestSelect.SchoolDivision</p>
    }
    <hr>
    <br />
    <h3><u>Datos de progreso:</u></h3>
    <p><b>Fecha de inicio:</b>
        @(RequestSelect?.RequestStartDate== null ? "Aún no se inicio esta solicitud." : RequestSelect?.RequestStartDate?.ToShortDateString())
    </p>
    <p><b>Fecha estimada de terminación:</b>
        @(RequestSelect?.EstimatedCompletionDate == null ? "No se ingreso una fecha estimada." : RequestSelect?.EstimatedCompletionDate?.ToShortDateString())
    </p>
    <div class="status-zone">
        <p><b>Actualizar el estado Manualmente</b></p>
        <EnumSelect TEnum="RequestStatus" @bind-Value="@ManualStatus" @DefaultValue="@RequestStatus.Pendiente" />
        @if(ManualStatus == RequestStatus.EnProceso){
            <br><br>
            <p>Fecha estimada de terminación: </p> <DatePicker @bind-Value="@_estimatedCompletionDate" />
        }
        <br><br>
        <Button Type="primary" OnClick="() => ManualRequestStatus(RequestSelect, ManualStatus)">Actualizar</Button>
    </div>
</Modal>

<Modal Title="Establezca una fecha estimada de terminación." Visible="@_DateVisible"
       OnCancel="@(() => _DateVisible = false)"
       Footer="null">
    <DatePicker @bind-Value="@_estimatedCompletionDate" />
    <br><br>
    <Button Type="primary" OnClick="@HandleDateModalOk">Guardar</Button>
</Modal>

@code {
    // Variables sobre solicitudes
    private List<RequestViewModel?> _requests = new();
    private DateTime? _estimatedCompletionDate;
    // Variables sobre funcionalidad de arrastre
    private RequestViewModel? RequestSelect;
    private RequestViewModel? RequestDrag;
    private RequestViewModel? RequestDateDrag;
    //Variables sobre modals
    private RequestStatus ManualStatus {get; set;}
    private string? ComputerName {get; set;}
    private bool _DetailVisible = false;
    private bool _DateVisible = false;

    // Funciones de visibilidad de Modals
    private async Task ShowDetails(RequestViewModel request)
    {
        RequestSelect = request;
        if (request.ComputerId != 0)
            ComputerName = ((ComputerViewModel?)(await ComputerService.GetComputer(request.ComputerId))).DeviceName;
        _DetailVisible = true;
    }
    private string GetStatusTitle(RequestStatus status){
        switch(status){
            case RequestStatus.Pendiente:
                return ("⏳ Pendientes");
            case RequestStatus.EnProceso:
                return ("🛠️ En proceso");
            case RequestStatus.Completada:
                return ("☑️ Completados");
            default:
                return ("Sin categoria");
        }
    }
    private IEnumerable<RequestViewModel> GetRequestsByStatus(RequestStatus status)
    {
        return _requests.Where(r => r.Status == status);
    }
    // Funciones relacionadas a la funcionalidad de arrastre
    private void OnDragStart(DragEventArgs e, RequestViewModel request)
    {
        RequestDrag = request;
        e.DataTransfer.EffectAllowed = "move";
    }

    private async Task OnDrop(DragEventArgs e, RequestStatus newStatus)
    {
        if (RequestDrag != null && RequestDrag.Status != newStatus)
        {
            if (RequestDrag.Status == RequestStatus.Pendiente && newStatus == RequestStatus.EnProceso)
            {
                RequestDateDrag = RequestDrag;
                _DateVisible = true;
            }
            else
            {
                await UpdateRequestStatus(RequestDrag, newStatus);
            }
        }
        RequestDrag = null;
    }
    // Funciones de actualización
    private async Task DelRequest(int Id)
    {
        await RequestService.DelRequest(Id);
        await OnInitializedAsync();
    }
    private async Task HandleDateModalOk()
    {
        if (RequestDateDrag != null && _estimatedCompletionDate.HasValue)
        {
            await RequestService.UpdateDate(RequestDateDrag.ID, _estimatedCompletionDate.Value);
            await UpdateRequestStatus(RequestDateDrag, RequestStatus.EnProceso);
            _DateVisible = false;
            RequestDateDrag = null;
            RequestDrag = null;
            _estimatedCompletionDate = null;
        }
    }
    private async Task ManualRequestStatus(RequestViewModel request, RequestStatus newStatus){
        if(request.Status == RequestStatus.Pendiente && newStatus == RequestStatus.EnProceso && _estimatedCompletionDate.HasValue){
            await RequestService.UpdateDate(request.ID, _estimatedCompletionDate.Value);
        }
        await UpdateRequestStatus(request, newStatus);
        _DetailVisible = false;
        _estimatedCompletionDate = null;
    }
    private async Task UpdateRequestStatus(RequestViewModel request, RequestStatus newStatus)
    {
        bool success = await RequestService.UpdateStatus(request.ID, newStatus);
        if (success)
        {
            request.Status = newStatus;
            _requests = new();
            await OnInitializedAsync();
            await message.Success("Estado actualizado correctamente");
        }
        else
        {
            await message.Error("Error inesperado al actualizar el estado");
        }
        StateHasChanged();
    }
    // Init
    protected override async Task OnInitializedAsync()
    {
        _requests = await RequestService.GetListRequests();
        StateHasChanged();
    }
}