@using PaginaEEST1.Services
@using PaginaEEST1.Data.Enums
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Models.PhysicalObjects
@using PaginaEEST1.Data.Models.Categories

@inject IMessageService message
@inject IItemService ItemService
@inject ICategoryService CategoryService

<div>
    <Form Model="@ItemVM" OnFinish="OnFinish">
        <div clas="form-grid">

            <FormItem Label="Nombre">
                <Input @bind-Value="@ItemVM.Name" />
            </FormItem>

            <FormItem Label="Tipo de Objeto">
                <EnumSelect TEnum="TypeItem" @bind-Value="@ItemVM.Type" />
            </FormItem>

            <FormItem Label="Subir Foto">
                <ImageInput @ref="ImageUpload" ImageType="TypeImage.ItemImage" />
            </FormItem>

            <FormItem Label="Categoria">
                <AutoComplete @bind-Value="@ItemCategory" Options="@CategoryOptions" Style="min-width:200px" />
            </FormItem>

            <FormItem Label="Codigo">
                <Input Disabled @bind-Value="@ItemVM.Code" />
            </FormItem>

            <FormItem Label="Descripción">
                <TextArea AutoSize="true" @bind-Value="@ItemVM.Description" />
            </FormItem>

            <FormItem>
                <Button Type="primary" HtmlType="submit">Guardar</Button>
                <Button OnClick="HandleClose">Cerrar</Button>
            </FormItem>
        </div>
    </Form>
</div>

@code {
    //Parametros
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EducationalGuidance OwnerItem { get; set; }

    //Variables
    private ItemViewModel ItemVM = new();
    private List<string> CategoryOptions = new();
    private string? ItemCategory;
    private ItemCategory? ItemCategorySave;
    private ImageInput? ImageUpload { get; set; }
    private Item? ItemSave;

    // Funciones
    protected override async Task OnInitializedAsync()
    {
        ItemVM.Code = await ItemService.GenerateUniqueCodeAsync();
        CategoryOptions = await CategoryService.GetListCategories(TypeCategory.ItemCategory);
    }

    private async Task HandleClose()
    {
        await OnClose.InvokeAsync(false);
    }

    private async Task OnFinish()
    {
        if (!string.IsNullOrEmpty(ItemCategory))
        {
            Category? category = await CategoryService.SaveCategory(TypeCategory.ItemCategory, ItemCategory);
            if (category != null && category is ItemCategory itemCategory)
                ItemCategorySave = itemCategory;
        }

        if (ItemVM.Type == TypeItem.ReturnableItem)
        {
            ReturnableItem item = new()
                {
                    Name = ItemVM.Name,
                    Code = ItemVM.Code,
                    Description = ItemVM.Description,
                    Owner = OwnerItem,
                    Category = ItemCategorySave
                };
            ItemSave = await ItemService.SaveItem(item);
        }

        else if (ItemVM.Type == TypeItem.ConsumableItem)
        {
            ConsumableItem item = new()
                {
                    Name = ItemVM.Name,
                    Code = ItemVM.Code,
                    Description = ItemVM.Description,
                    Owner = OwnerItem,
                    Category = ItemCategorySave
                };
            ItemSave = await ItemService.SaveItem(item);
        }

        if (ItemSave != null)
        {
            if(ImageUpload != null)
                await ImageUpload.SaveImage(ItemSave.Id);
            ItemVM = new();
            await OnClose.InvokeAsync(true);
            await message.Success("Se registro el Item");
            StateHasChanged();
        }
        else
            await message.Error("Error inesperado al guardar el Item");
    }
}