@using PaginaEEST1.Services
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@using PaginaEEST1.Shared
@using PaginaEEST1.Data.Models.Categories
@using PaginaEEST1.Data.Models.PhysicalObjects
@inject IItemService ItemService
@inject IQRService QRService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<Flex Align="left" Justify="left" Vertical Style="height: 100%; width:100%">
    @if (item != null)
    {
        <Flex Align="center" Justify="center">
            <Image Width="200px" Src="@item.ImageUrl" />
        </Flex>
        <p><b>Nombre del Objeto</b>: @item.Name</p>
        <p><b>Tipo de Objeto</b>: @item.Type.GetDisplayName()</p>
        <p><b>Codigo</b>: @item.Code</p>
        <p><b>Descripción</b>: @item.Description</p>
        <p><b>Categoria</b>: @item.Category</p>
    }
</Flex>

@code {
    [Parameter]
    public int ID { get; set; }
    private ItemViewModel? item { get; set; }

    // Init
    protected override async Task OnInitializedAsync()
    {
        item = await ItemService.GetItemViewModel(ID);
        StateHasChanged();
    }
}
