@using PaginaEEST1.Services
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@using PaginaEEST1.Shared
@using PaginaEEST1.Data.Models.PhysicalObjects
@using PaginaEEST1.Data.Models.SchoolArea
@inject IComputerService ComputerService
@inject IAreaService AreaService
@inject IQRService QRService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<style>
    .pc-logo
    {
        width: 100px;
        height: auto;
        right: 3%;
        bottom: 50%;
        position: absolute;
    }
</style>

<img src="@(computer?.Type == TypeComputer.Computer ? "Images/Logo_Desktop.png" : "Images/Logo_Netbook.png")" class="pc-logo" />
<Flex Align="left" Justify="left">
    <div class="pc-container">
        @if (computer != null)
        {
            <p><b>Nombre/Codigo del dispositivo</b>: @computer.DeviceName</p>
            <p><b>Estado</b>: @computer.Status.GetDisplayName()</p>
            <p><b>Sistema Operativo</b>: @computer.OperatingSystem</p>
            <p><b>Procesador</b>: @computer.Processor</p>
            <p><b>Memoria RAM</b>: @computer.RAM</p>
            <p><b>Almacenamiento</b>: @computer.Storage</p>
            <p><b>Tipo de Almacenamiento</b>: @computer.typeStorage.GetDisplayName()</p>
            @if (computer is Desktop desktop)
            {
                <p><b>Ubicación en la Institución</b>: @Location</p>
            }
            @if (computer is Netbook netbook)
            {
                <p><b>Modelo de la Netbook</b>: @netbook.Model</p>
                <p>
                    <b>Disponibilidad</b>:
                    @if (netbook.IsAvailable == true)
                    {
                        <text>Disponible</text>
                    }
                    else
                    {
                        <text>En uso</text>
                    }
                </p>
            }
            <div class="_QRCode">
                <Image Src="@QRCode" alt="QR" Style="width: 100px; height: 100px;" />
                <Button OnClick="PrintQRCode">Imprimir</Button>
                <Button OnClick="DownloadQRCode">Descargar</Button>
                <a href="@QRLink">Visitar página</a>
            </div>
        }
    </div>
</Flex>

@code {
    [Parameter]
    public int ID { get; set; }
    private Computer? computer { get; set; }
    private string? Location { get; set; }
    private string? QRCode { get; set; }
    private string? QRLink { get; set; }

    // Funciones

    private async Task DownloadQRCode()
    {
        if (!string.IsNullOrEmpty(QRCode))
        {
            await JSRuntime.InvokeVoidAsync("downloadImage", QRCode, "QRCode.png");
        }
    }
    private async Task PrintQRCode()
    {
        if (!string.IsNullOrEmpty(QRCode))
        {
            await JSRuntime.InvokeVoidAsync("printImage", QRCode);
        }
    }

    // Init
    protected override async Task OnInitializedAsync()
    {
        computer = await ComputerService.GetComputer(ID);
        var baseUrl = NavigationManager.BaseUri.TrimEnd('/');
        QRLink = $"{baseUrl}/Computadora_VistaQR_{ID}";
        QRCode = await QRService.LoadQR(QRLink);
        if (computer is Desktop desktop)
        {
            Area? area = await AreaService.GetArea(desktop.LocationId);
            Location = area?.Name ?? "Sin especificar";
        }
    }
}