@using PaginaEEST1.Data.Models.PhysicalObjects
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@using PaginaEEST1.Services
@inject IComputerService ComputerService
@inject IAreaService AreaService
@inject IMessageService message

<div clas="container">
    @if (computerVM == null) return;
    <Form Model="@computerVM" OnFinish="OnFinish">
        <div clas="form-grid">
            <FormItem Label="Estado del Ordenador">
                <EnumSelect TEnum="ComputerStatus" @bind-Value="@computerVM.Status" />
            </FormItem>
            <FormItem Label="Nombre o Codigo">
                <Input @bind-Value="@computerVM.DeviceName" />
            </FormItem>
            <FormItem Label="Sistema Operativo">
                <Input @bind-Value="@computerVM.OperatingSystem" />
            </FormItem>
            <FormItem Label="Procesador">
                <Input @bind-Value="@computerVM.Processor" />
            </FormItem>
            <FormItem Label="RAM">
                <Input @bind-Value="@computerVM.RAM">
                <Suffix>
                    GB
                </Suffix>
                </Input>
            </FormItem>
            <FormItem Label="Almacenamiento">
                <Input @bind-Value="@computerVM.Storage">
                <Suffix>
                    GB
                </Suffix>
                </Input>
            </FormItem>
            <FormItem Label="Tipo de almacenamiento">
                <EnumSelect TEnum="TypeStorage" @bind-Value="@computerVM.typeStorage" />
            </FormItem>
            @if (computerVM.Type == TypeComputer.Computer)
            {
                <FormItem Label="Ubicación dentro de la Institución">
                    <Select @bind-Value="@computerVM.LocationId"
                        DataSource="@areas"
                        TItem="AreaViewModel"
                        TItemValue="int"
                        LabelName="@nameof(AreaViewModel.Name)"
                        ValueName="@nameof(AreaViewModel.Id)"
                        DefaultActiveFirstOption = "true"
                        Placeholder="No se encuentra salones disponibles"
                        />
                </FormItem>
            }
            @if (computerVM.Type == TypeComputer.Netbook)
            {
                <FormItem Label="Modelo de la Netbook">
                    <Input @bind-Value="@computerVM.Model" />
                </FormItem>
                <FormItem Label="Disponibilidad de la Netbook">
                    <Switch @bind-Value="@computerVM.IsAvailable" />
                </FormItem>
            }
            <FormItem>
                <Button Type="primary" HtmlType="submit">Editar</Button>
                <Button OnClick="HandleClose">Cerrar</Button>
            </FormItem>
        </div>
    </Form>
</div>

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public int ID { get; set; }
    private ComputerViewModel computerVM { get; set; } = new();
    private List<AreaViewModel> areas = new();

    // Funciones
    private async Task HandleClose()
    {
        await OnClose.InvokeAsync(false);
    }
    private async Task OnFinish()
    {
        try
        {
            if (computerVM.Type == TypeComputer.Computer)
            {
                await ComputerService.EditComputer(
                    new Desktop()
                    {
                        Id = computerVM.Id,
                        DeviceName = computerVM.DeviceName,
                        Type = computerVM.Type,
                        Status = computerVM.Status,
                        OperatingSystem = computerVM.OperatingSystem,
                        Processor = computerVM.Processor,
                        RAM = computerVM.RAM,
                        Storage = computerVM.Storage,
                        typeStorage = computerVM.typeStorage,
                        LocationId = computerVM.LocationId
                    }
                );
            }
            else if (computerVM.Type == TypeComputer.Netbook)
            {
                await ComputerService.EditComputer(
                    new Netbook()
                    {
                        Id = computerVM.Id,
                        DeviceName = computerVM.DeviceName,
                        Type = computerVM.Type,
                        Status = computerVM.Status,
                        OperatingSystem = computerVM.OperatingSystem,
                        Processor = computerVM.Processor,
                        RAM = computerVM.RAM,
                        Storage = computerVM.Storage,
                        typeStorage = computerVM.typeStorage,
                        Model = computerVM.Model,
                        IsAvailable = computerVM.IsAvailable
                    }
                );
            }
            await OnClose.InvokeAsync(true);
            StateHasChanged();
            await message.Success("Ordenador editado con exito");
        }
        catch
        {
            await message.Warning("Error inesperado al editar el Ordenador.");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        var computer = await ComputerService.GetComputer(ID);
        if (computer != null)
        {
            computerVM = new()
                {
                    Id = computer.Id,
                    DeviceName = computer.DeviceName,
                    Type = computer.Type,
                    Status = computer.Status,
                    OperatingSystem = computer.OperatingSystem,
                    Processor = computer.Processor,
                    RAM = computer.RAM,
                    Storage = computer.Storage,
                    typeStorage = computer.typeStorage
                };
            if (computer is Desktop desktop)
            {
                computerVM.LocationId = (desktop.Location == null) ? 0 : desktop.Location.Id;
            }
            if (computer is Netbook netbook)
            {
                computerVM.Model = netbook.Model;
                computerVM.IsAvailable = netbook.IsAvailable;
            }
        }
        areas = await AreaService.GetListAreas();
        StateHasChanged();
    }

    // View Model
    private class ComputerViewModel
    {
        public int Id { get; set; }
        public string? DeviceName { get; set; }
        public TypeComputer Type { get; set; }
        public ComputerStatus Status { get; set; }
        public string? OperatingSystem { get; set; }
        public string? Processor { get; set; }
        public int? RAM { get; set; }
        public int? Storage { get; set; }
        public TypeStorage typeStorage { get; set; }
        public string? Model { get; set; }
        public bool IsAvailable { get; set; }
        public int LocationId { get; set; }
    }
}