@using PaginaEEST1.Services
@using PaginaEEST1.Data.Models.Objetos_Fisicos
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@inject IMessageService message
@inject IOrdenadorService OrdenadorService

<div clas="container">
    <Form Model="@computadoraView" OnFinish="OnFinish">
        <div clas="form-grid">
            <FormItem Label="Estado de la Computadora">
                <EnumSelect TEnum="ComputerStatus" @bind-Value="@computadoraView.Estado" />
            </FormItem>
            <FormItem Label="Nombre o Codigo">
                <Input @bind-Value="@computadoraView.NombreOCodigoDispositivo" />
            </FormItem>
            <FormItem Label="Sistema Operativo">
                <Input @bind-Value="@computadoraView.SistemaOperativo" />
            </FormItem>
            <FormItem Label="Procesador">
                <Input @bind-Value="@computadoraView.Procesador" />
            </FormItem>
            <FormItem Label="RAM">
                <Input @bind-Value="@computadoraView.RAM" />
            </FormItem>
            <FormItem Label="Almacenamiento">
                <Input @bind-Value="@computadoraView.Almacenamiento" />
            </FormItem>
            <FormItem Label="Tipo de almacenamiento">
                <EnumSelect TEnum="TypeStorage" @bind-Value="@computadoraView.tipoAlmacenamiento" />
            </FormItem>
            <FormItem Label="Ubicación dentro de la Institució">
                <Input @bind-Value="@computadoraView.Ubicacion" />
            </FormItem>
            <FormItem>
                <Button Type="primary" HtmlType="submit">Guardar</Button>
                <Button OnClick="HandleClose">Cerrar</Button>
            </FormItem>
        </div>
    </Form>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    //Variables
    private ComputadoraVM computadoraView = new();
    private string? ImagenQR;

    // Funciones
    private async Task HandleClose()
    {
        await OnClose.InvokeAsync(false);
    }

    private async Task OnFinish()
    {
        try
        {
            Desktop guardado = await OrdenadorService.SaveDesktop(computadoraView);
            message.Success("Se guardo la Computadora con exito");
            ImagenQR = await OrdenadorService.GenerarQR(guardado.Id);
            computadoraView = new();
            await OnClose.InvokeAsync(true);
            StateHasChanged();
        }
        catch
        {
            message.Error("Error inesperado al guardar una Computadora");
        }
    }
}