@using PaginaEEST1.Services
@using PaginaEEST1.Data.Models.Objetos_Fisicos
@using PaginaEEST1.Components.Pages.Modals
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@inject IMessageService message
@inject IOrdenadorService OrdenadorService
@page "/Gestion_Ordenadores"
@attribute [Authorize]

<Flex Class="flex-container" Justify="center" Align="center">
    <div class="template">
        <Table 
            TItem="DesktopViewModel"
            DataSource="@computadoras"
            PageIndex="1"
            PageSize="6"
            Responsive
        >

            <TitleTemplate>
                <Space>
                    <SpaceItem>
                        <Button Type="primary"
                                OnClick="() => {visAgregar = true;}">
                            <Icon Type="plus" /> Agregar
                        </Button>
                    </SpaceItem>
                </Space>
            </TitleTemplate>

            <ColumnDefinitions>
                @* Datos *@
                <PropertyColumn 
                    Title="Nombre del Ordenador"
                    Property="@(v => v.DeviceName)"
                    Sortable
                />
                <PropertyColumn
                    Title="Ubicación"
                    Property="@(v => v.Location)"
                    Sortable
                />
                <PropertyColumn
                    Title="Sistema Operativo"
                    Property="@(v => v.OperatingSystem)"
                    Sortable
                />
                <PropertyColumn
                    Title="Estado"
                    Property="@(v => v.Status)"
                    Sortable
                />
                @* Acciones *@
                <ActionColumn Title="Acciones" Align="ColumnAlign.Center">
                    <Space>
                        <SpaceItem>
                            <Button Type="primary" OnClick="() => openDetalles(context.ID)">
                                <Icon Type="desktop"/> Detalles
                            </Button>
                            <Button Danger OnClick="()=>{}">
                                <Icon Type="down" /> Remover
                            </Button>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
                @* Logo del Ordenador. Va a haber uno diferente si es una Computadora o Netbook *@
                <Column TData="DesktopViewModel" Width="100">
                    <Image Src="@context.Logo_PC" />
                </Column>
            </ColumnDefinitions>
        </Table>
    </div>
</Flex>


@if (visAgregar == true)
{
    <Modal Visible="visAgregar" Footer="null" OnCancel="() => closeAgregar(false)">
        <CargarOrdenador OnClose="closeAgregar" />
    </Modal>
}
@if (visDetalle == true)
{
    <Modal Visible="visDetalle" Footer="null" OnCancel="() => {visDetalle = false;}">
        <DetallesOrdenador ID="detID" />
    </Modal>
}

@code {
    // Variables
    private DesktopViewModel computadoraView = new();
    List<DesktopViewModel?> computadoras = new();
    private string? ImagenQR;

    // Visibles y Funciones - Modals
    private int detID { get; set; }
    private bool visAgregar = false;
    private bool visDetalle = false;

    private void openDetalles(int ID)
    {
        detID = ID;
        visDetalle = true;
    }

    private void closeAgregar(bool success)
    {
        visAgregar = false;
        if (success == true)
        {
            OnInitializedAsync();
        }
        StateHasChanged();
    }

    // Init
    protected override async Task OnInitializedAsync()
    {
        computadoras = await OrdenadorService.GetListDesktopDevices();
        StateHasChanged();
    }
}