@using PaginaEEST1.Services
@using PaginaEEST1.Data.ViewModels
@inject IOrdenadorService Ordenador_Service
@page "/Computadora_VistaQR_{ID_Computadora:int}"

@* Pagina sin terminar - actualmente iniciando su creacion, Trabajo en progreso

Unicamente se implemento el service por prueba
*@

<html lang="es-ES">
    <head><title>Computadora @ID_Computadora</title></head>
    <h3>Vista temporal para verificar su funcionamiento de ver los datos de una Computadora a travez de un QR.</h3>
    <body>
        @if(Computadora != null){
            <div style="background-color: #ececec; border-radius: 1vw;;">
                <p><b>Estado</b>: @Computadora.Estado</p>
                <p><b>Nombre</b>: @Computadora.NombreOrdenador</p>
                <p><b>Sistema Operativo</b>: @Computadora.SistemaOperativo</p>
                <p><b>Procesador</b>: @Computadora.Procesador</p>
                <p><b>RAM</b>: @Computadora.RAM</p>
                <p><b>Ubicacion</b>: @Computadora.Ubicacion</p>
            </div>
        }
    </body>
</html>

@code {
    [Parameter]
    public int ID_Computadora { get; set; }
    private ComputadoraVM? Computadora { get; set; }

    // Init
    protected override async Task OnInitializedAsync()
    {
        Computadora = await Ordenador_Service.GetDesktop(ID_Computadora);
        StateHasChanged();
    }
}
