@using PaginaEEST1.Services
@using PaginaEEST1.Data.ViewModels
@inject IOrdenadorService Ordenador_Service
@page "/Computadora_VistaQR_{ID_Computadora:int}"

<html lang="es-ES">

<head>
    <title>Computadora @ID_Computadora</title>
</head>

<body>
    @if (Computadora != null)
    {
        <div class="pc-container">
            <div class="pc-info">
                <h1>@Computadora.DeviceName</h1>
                <ul>
                    <li><b>Estado: </b> @Computadora.Status</li>
                    <li><b>Sistema Operativo: </b> @Computadora.OperatingSystem</li>
                    <li><b>Procesador: </b> @Computadora.Processor</li>
                    <li><b>Memoria RAM: </b> @Computadora.RAM</li>
                    <li><b>Almacenamiento: </b> @Computadora.Storage</li>
                    <li><b>Tipo de almacenamiento: </b> @Computadora.StorageType</li>
                    <li><b>Ubicación: </b> @Computadora.Location</li>
                </ul>
            </div>
            <img class="pc-logo" src="Images/Desktop_PC.png" alt="Computadora de Escritorio" />
        </div>
    }
</body>

</html>

@code {
    [Parameter]
    public int ID_Computadora { get; set; }
    private DesktopViewModel? Computadora { get; set; }

    // Init
    protected override async Task OnInitializedAsync()
    {
        Computadora = await Ordenador_Service.GetDesktop(ID_Computadora);
        StateHasChanged();
    }
}