@using PaginaEEST1.Services
@using PaginaEEST1.Data.Models.Objetos_Fisicos
@using PaginaEEST1.Data.ViewModels
@using PaginaEEST1.Data.Enums
@inject IOrdenadorService OrdenadorService

<style>
    .pc-logo
    {
        width: 100px;
        height: auto;
        right: 3%;
        bottom: 50%;
        position: absolute;
    }
</style>

<img src="Imagenes/PC_Escritorio.png" class="pc-logo"/>
<Flex Align="left" Justify="left">
    <div class="pc-container">
        @if (desktop != null)
        {
            <p><b>Nombre/Codigo del dispositivo</b>: @desktop.NombreOCodigoDispositivo</p>
            <p><b>Estado</b>: @desktop.Estado</p>
            <p><b>Sistema Operativo</b>: @desktop.SistemaOperativo</p>
            <p><b>Procesador</b>: @desktop.Procesador</p>
            <p><b>Memoria RAM</b>: @desktop.RAM</p>
            <p><b>Almacenamiento</b>: @desktop.Almacenamiento</p>
            <p><b>Tipo de Almacenamiento</b>: @desktop.tipoAlmacenamiento</p>
            <p><b>Ubicación en la Institución</b>: @desktop.Ubicacion</p>
            <div class="_QRCode">
                <Image Src="@QRCode" alt="QR" Style="width: 100px; height: 100px;" />
                <Button>Imprimir</Button>
                <Button>Descargar</Button>
            </div>
        }
    </div>
</Flex>

@code {
    [Parameter]
    public int ID { get; set; }
    private ComputadoraVM? desktop { get; set; }
    private string? QRCode { get; set; }

    // Init
    protected override async Task OnInitializedAsync()
    {
        QRCode = await OrdenadorService.GenerarQR(ID);
        desktop = await OrdenadorService.GetDesktop(ID);
    }
}

